<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Transaction Profile</h1>
    <h2>Wallet - {{transaction.wallet}}</h2>
    <h2>Amount - {{transaction.transaction_amount}}</h2>
    <h2>Choice - {{transaction.transaction_type}}</h2>
    <h2>Date - {{transaction.transaction_date}}</h2>
    <h2>Transaction Number - {{transaction.transaction_date}}</h2>
    <h2>Transaction Origin - {{transaction.transaction_origin}}</h2>

</body>
</html>